AUTH_VERSION=1.0.0
ANALYTICS_VERSION=1.0.0
UI_VERSION=1.0.0
UI_THEME_COLOR=#0F766E
JWT_SECRET=dev-jwt-secret-change-me
AUTH_PUBLIC_URL=http://localhost:4001
ANALYTICS_PUBLIC_URL=http://localhost:4002
IMAGE_TAG=latest
